<h1>Edit Post!</h1>

<form class="" action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="">Title: </label>
  <input type="text" name="title" value="<%= @post.title %>">
  <label for="">Image_URL: </label>
  <input type="text" name="image_url" value="<%= @post.image_url %>">
  <label for="">Description: </label>
  <textarea name="description" style="width:auto; height:auto;"><%= @post.description %></textarea>
  <input type="submit" name="" value="Edit post">
</form>