<h1>Create a new post!</h1>
<form class="" action="/posts" method="post">
  <label for="">Title: </label>
  <input type="text" name="title" value="">
  <label for="">Image_URL: </label>
  <input type="text" name="image_url" value="">
  <label for="">Description: </label>
  <input type="text" name="description" value="">
  <input type="submit" name="" value="Create a new post">
</form>


