
<!DOCTYPE html>
<html>
  <head>
  <div class="topnav">
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
  </div>
  <style>
  .topnav {
  background-color: #456;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  </style>
    <title></title>
      <br><br>
      <h1 style="text-align:center">Welcome to WorkoutBook</h1>
      <br><br>
  </head>
  <body>



  </body>
</html>