
<!DOCTYPE html>
<html>
  <head>
    <title></title>
      <h1>Welcome to WorkoutBook</h1>
  </head>
  <body>
    <div class="container">
      <a href="/login">Log in</a>
      <a>......</a>
      <a href="/signup">Sign up</a>
    </div>

  </body>
</html>